<h1>show might not need</h1>
<div class = "card">
  <div class ="avatar-info">
    <%= cl_image_tag profile.photo.key %>
    <h4><%=profile.name%><h4>
    <p> X X X X </p>
  </div>
  <div class ="bio-tags-btn">
    <p> bio-expandable</p>
    <div class ="tags">
      tag tag tag tag
    </div>
    <a href="">chat</a>
  </div>
</div>


