// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #0D6EFD;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;

// GivA color scheme

$my-perrywinkle:#c4c5e6;
$my-mint:#b8e6c7;
$my-perry-light:#cecff2;
$my-perry-dark:#575766;
$my-perry-darker:#adaecc;
$my-perry-grey:#D5D5DE;
$my-salmon:#E6AEAC;
$my-white:#ffff;
