// Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
// imported google font for GivA
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');


// Define fonts for body and headers
// $body-font: "Work Sans", "Helvetica", "sans-serif";
// $headers-font: "Nunito", "Helvetica", "sans-serif";

// GivA font
$body-font:"Raleway", sans-serif;
$headers-font:"Raleway", sans-serif;

a{
  text-decoration: none !important;
  color: #575766 !important;
}


h1, h2, h3, h4, h5, h6, p {
  color: #575766;
  margin: 0 !important;
  padding: 0 !important;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
