<div class="navbar navbar-lewagon">
  <div class="container-fluid">
    <div><h1 class="nav-logo">GivA</h1></div>
      <%= link_to(profiles_path, class: "navbar-brand") do %>
      <%= image_tag "https://res.cloudinary.com/dbgvo56a1/image/upload/v1662389930/Group_6_wxvnna.svg" %>
    <% end %>
  </div>
</div>
