<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dbgvo56a1/image/upload/v1662371124/Frame_12_srnr1u.png" %>
    <% end %>

    <div>
      <%= link_to(profiles_path, class: "navbar-brand") do %>
      <%= image_tag "https://res.cloudinary.com/dbgvo56a1/image/upload/v1662371125/Group_6_fekylz.png" %>
    <% end %>
    </div>


  </div>
</div>
