<footer class="footer mt-auto">
  <div class="footer-links">

    <%= active_link_to '<i class="fa-solid fa-address-book"></i>'.html_safe, profiles_path,  class_active: 'back-active'%>

    <%= active_link_to '<i class="fa-solid fa-comment"></i>'.html_safe, chats_path,  class_active: 'back-active'%>

    <%= active_link_to '<i class="fa-solid fa-map-location-dot"></i>'.html_safe, locations_path,  class_active: 'back-active'%>

    <%= active_link_to '<i class="fa-solid fa-hand-holding-hand"></i>'.html_safe, buddies_path,  class_active: 'back-active'%>
  </div>
</footer>
