<div class="container">
  <div class="logo" data-controller="logo-rotate">
    <%= link_to profiles_path do %>
      <%= image_tag "https://res.cloudinary.com/dbgvo56a1/image/upload/v1662390189/logo_landingpage_inl4uc.svg",
        width: 250, height: 250, crop: :fill, class: "before-rotate", data: { action: "click->logo-rotate#rotate", "logo-rotate-target": "logo" } %>
    <% end %>
  </div>
</div>
