// .chatindex-container-fluid {
//   background: #c4c5e6;
//   width: auto;
//   display: flex;
//   /* flex-direction: row; */
//   justify-content: space-between;
//   align-items: center;
//   padding: 10px 16px;
//   margin-left: auto;
//   gap: 99px;
//   justify-content: space-between;
//   /* position: absolute; */
//   height: 68px;
//   /* left: 0px; */
//   top: 0px;
//   background: #C4C5E6;
// }

.green-dot {
  background-color: $my-mint;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  align-self: center;

}

.chat-time {
  font-size: 11px;
  color: $my-perry-dark;
}
.chatindex-avatar {
  border-radius: 50%;
  width: 52px;
  height: 52px;


}

.chatindex-avatar-name {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}
