.navbar-lewagon {
  justify-content: space-between;
  background: #575766;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.container-fluid {
  background: #575766;

  gap: 8px;
}
