.navbar-lewagon {
  justify-content: space-between;
  background: #575766;
  flex-grow: 0;
  position: fixed;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.container-fluid {
  background: #575766;
  width: auto;

  // gap: 8px;
}

.nav-logo {
  color: rgba(196, 197, 230, 1);
  font-weight: lighter;
  display: flex;
  justify-content: center;
}

.navbar-brand {
  margin-right:none !important;
}

.fa-solid {
  font-size: xx-large;
}
