
.card {
  width: 324px;
  height: 389px;
  position: relative;
  border-radius: 20px;
  margin-bottom: 16px;
}

.card-banner {
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  width: 100%;
  background-color: $my-perrywinkle;
  height: 68px;
}

.content-container {
  position: absolute;
  top: 20px;
  height: 100%;
  width: 100%;
  justify-content: center;
  border-radius: 20px;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.avatar-info {
  text-align: center;
}

.bio-tags {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button {
  font-size: 16px;
  font-weight: 550;
  padding: 10px 60px;
  border-radius: 24px;
  background-color: $my-mint;
  color: black;
  text-decoration: none;
}

.btn-frame {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 338px;
  left: 102px;
}

.tags{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  gap: 10px;
  position: absolute;
  width: 55px;
  height: 22px;
  left: 157px;
  top: 280px;
  /* Oxford Blue */
  border: 1px solid #081D33;
  border-radius: 20px;
}
