.bgrcolor {
  background: #f5f5ff;
}

.container a {
  text-decoration: none;

}

.form-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // gap: 10px;
  width: auto;
  margin: auto;
  /* Minty Green */

  background: #B8E6C7;
  border-radius: 20px;
}
