.footer .footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  gap: 48px;
  font-size: xx-large;
  width: 412px;
  height: 56px;

  /* Dark Periwinkle */

  background: #575766;
}

.footer .footer-links img {
  height: 40px;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.back-active{
  color: rgba(184, 230, 199, 1);
  font-size: xx-large;
}
