.footer .footer-links {
  display: flex;
  // flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  /* position: fixed; */
  // padding: 0px 30px;
  // gap: 48px;
  // font-size: xx-large;
  /* width: auto; */
  /* height: 56px; */
  // background: #575766;
  /* Dark Periwinkle */
  background: #575766;

  i {
    color: white;
  }
}

// footer {
//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   height: ;
// }



.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.back-active {
  color: rgba(184, 230, 199, 1);
  font-size: xx-large;
}

.back-active  i {
  color: rgba(184, 230, 199, 1);
  font-size: xx-large;
}
